@import "@webtui/css/components/details.css";

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 1lh;
  overflow: hidden;
  flex-grow: 1;
  --box-border-color: var(--background1);

  &:focus-within {
    --box-border-color: var(--foreground2);
  }

  #category-container {
    position: relative;
    flex-grow: 1;
  }

  #category-list {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 1lh;
    padding: 0 1ch;
    overflow-y: auto;
  }

  #keybind-container {
    --box-border-color: var(--background1);
  }
}

ul > a[href] {
  color: var(--foreground1);
  text-decoration: none;
  outline: none;
  display: list-item;

  &::before {
    content: "├ ";
  }

  &:last-of-type::before {
    content: "└ ";
  }

  &.active {
    color: var(--sky);
    background-color: var(--background1);
  }

  &:focus {
    background-color: var(--background1);
  }

  &::highlight(vim) {
    background-color: var(--foreground0);
    color: var(--background0);
  }
}

summary::highlight(vim) {
  background-color: var(--foreground0);
  color: var(--background0);
}

#filter-container {
  --box-border-color: var(--foreground2);
}

details[open] a.hidden,
details.hidden,
.hidden {
  display: none;
}

@media (max-width: 96ch) {
  #keybind-container {
    display: none;
  }
}
