@layer components {
  [data-webtui-theme|="everforest"] {
    [is-~="badge"] {
      &[variant-="red"] {
        --badge-color: var(--ef-red);
        --badge-text: var(--background0);
      }
      &[variant-="green"] {
        --badge-color: var(--ef-green);
        --badge-text: var(--background0);
      }
      &[variant-="yellow"] {
        --badge-color: var(--ef-yellow);
        --badge-text: var(--background0);
      }
      &[variant-="blue"] {
        --badge-color: var(--ef-blue);
        --badge-text: var(--background0);
      }
      &[variant-="purple"] {
        --badge-color: var(--ef-purple);
        --badge-text: var(--background0);
      }
      &[variant-="aqua"] {
        --badge-color: var(--ef-aqua);
        --badge-text: var(--background0);
      }
      &[variant-="orange"] {
        --badge-color: var(--ef-orange);
        --badge-text: var(--background0);
      }
      &[variant-="foreground2"] {
        --badge-color: var(--fg-dim);
        --badge-text: var(--background0);
      }
    }
  }
}
