@layer components {
  [data-webtui-theme|="everforest"] {
    button {
      &[variant-="red"] {
        --button-primary: var(--ef-red);
        --button-secondary: var(--background0);
      }
      &[variant-="green"] {
        --button-primary: var(--ef-green);
        --button-secondary: var(--background0);
      }
      &[variant-="yellow"] {
        --button-primary: var(--ef-yellow);
        --button-secondary: var(--background0);
      }
      &[variant-="blue"] {
        --button-primary: var(--ef-blue);
        --button-secondary: var(--background0);
      }
      &[variant-="purple"] {
        --button-primary: var(--ef-purple);
        --button-secondary: var(--background0);
      }
      &[variant-="aqua"] {
        --button-primary: var(--ef-aqua);
        --button-secondary: var(--background0);
      }
      &[variant-="orange"] {
        --button-primary: var(--ef-orange);
        --button-secondary: var(--background0);
      }
    }
  }

  [data-webtui-theme|="everforest-dark"] {
    button[variant-="gray"] {
      --button-primary: var(--gray1);
      --button-secondary: var(--background0);
    }
  }

  [data-webtui-theme|="everforest-light"] {
    button[variant-="gray"] {
      --button-primary: var(--gray1);
      --button-secondary: var(--background0);
    }
  }
}
