@layer components {
  button {

    &[variant-="default"],
    &:not([variant-]) {
      --button-background: var(--mauve);
      --button-foreground: var(--background0);
    }

    &[box-] {
      --button-background: transparent;
      --box-border-color: var(--mauve);
      --button-foreground: var(--mauve);
    }
  }
}
