<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <!-- <link -->
    <!--   rel="preload" -->
    <!--   href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@3.3.0/build/jetbrainsmono-nfm.css" -->
    <!--   as="stylesheet" -->
    <!--   type="text/css" -->
    <!--   crossorigin -->
    <!-- /> -->
    <!-- <link -->
    <!--   href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@3.3.0/build/jetbrainsmono-nfm.css" -->
    <!--   rel="stylesheet" -->
    <!-- /> -->
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      @import "@/styles/global.css";
    </style>
    <title>WebTUI</title>
  </head>
  <body>
    <slot />
  </body>
</html>
