<column box-="square" class="widget" id="chart-widget" pad-="2 1">
  <row>
    <row>
      <column gap-="1">
        <span>5</span>
        <span>3</span>
        <span>1</span>
      </column>
      <div is-="separator" direction-="vertical" cap-="default edge" />
    </row>
    <column self-="grow">
      <row self-="grow" gap-="1" align-="end start">
        <div class="line" height-="2" />
        <div class="line" height-="5" />
        <div class="line" height-="3" />
        <div class="line" height-="1" />
        <div class="line" height-="2" />
        <div class="line" height-="0" />
        <div class="line" height-="1" />
        <div class="line" height-="3" />
      </row>  
      <row>
        <row is-="separator" self-="grow" cap-="bisect default" />
      </row>
    </column>
  </row>
  <column pad-="2 0" id="caption">Interest / Time</column>
</column>

<style>
#chart-widget {
  grid-column: 1 / 2;
  grid-row: 1;
}

.line {
  height: attr(height- lh);
  width: 1ch;
  background-color: var(--green);
  filter: brightness(0.8);
}

[is-="separator"] {
  --separator-width: 1px;
  --separator-color: var(--background3);
}

#caption {
  color: var(--foreground2);
  white-space: nowrap;
}
</style>
