@layer components {
  button {
    color: var(--background);
    background: var(--foreground);
    font-family: var(--font-family);
    font-size: var(--font-size);
    border: none;
    cursor: pointer;

    &[box-] {
      color: var(--foreground);
      background: var(--background);
    }

    &[size-="medium"],
    &:not([size-]) {
      padding: 1lh 1ch;
    }

    &[size-="large"] {
      padding: 1lh 2ch;
    }
  }
}
