@layer components {
  button {
    font-family: var(--font-family);
    font-size: var(--font-size);
    border: none;
    cursor: pointer;

    &[size-="small"] {
      padding: 0 1ch;
    }

    &[size-="medium"],
    &:not([size-]) {
      padding: 1lh 1ch;
    }

    &[size-="large"] {
      padding: 1lh 2ch;
    }

  }
}
