#mobile-nav {
  --box-border-color: var(--background1);
  display: none;
}

#sidebar-container {
  display: flex;
  max-width: 32ch;
  width: 100%;
}

#scroll-container {
  position: relative;
  flex-grow: 1;

  #main-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 1lh;
    padding: 1lh 1ch;
    overflow-y: auto;
    color: var(--foreground1);

    strong {
      color: var(--foreground0);
    }

    [tabindex="0"] {
      outline: none;

      &::highlight(vim) {
        background-color: var(--foreground0);
        color: var(--background0);
      }
    }

    #doc-pagination {
      display: flex;

      &:has(> .prev) {
        justify-content: flex-start;
      }

      &:has(> .next) {
        justify-content: flex-end;
      }

      &:has(> .prev):has(> .next) {
        justify-content: space-between;
      }

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        --box-border-color: var(--background2);
        outline: none;

        &:hover,
        &:focus {
          --box-border-color: var(--foreground2);
        }
      }
    }
  }
}

#contents {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding-left: 2ch;
  padding-right: 1ch;
  position: relative;
  isolation: isolate;
  outline: none;
  --box-border-color: var(--background2);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(0.5ch - var(--box-border-width) / 2);
    width: var(--box-border-width);
    height: 100%;
    background-color: var(--background2);
  }

  .content-link {
    color: var(--foreground2);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--foreground0);
    }
  }
}

article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  --box-border-color: var(--background1);

  &:focus-within {
    --box-border-color: var(--foreground1);
  }
}

@media (max-width: 96ch) {
  #sidebar-container {
    max-width: 100%;
  }

  #mobile-nav {
    display: flex;
  }

  .mobile-hidden {
    display: none !important;
  }
}

@media (max-width: 148ch) {
  #contents {
    display: none;
  }
}

/* Syntax Highlighting */
@layer components {
  html[data-theme] {
    pre.astro-code {
      display: flex !important;
      overflow: unset !important;
      background-color: var(--background1) !important;
      position: relative;

      code {
        overflow: hidden;

        /* Diff markers */
        span.diff.add {
          background-color: #a6e3a135;
        }

        span.diff.remove {
          background-color: #f38ba845;
        }
      }
    }
  }

  html[data-theme="catppuccin"] {
    pre.astro-code,
    pre.astro-code span {
      color: var(--shiki-catppuccin) !important;
    }
  }

  html[data-theme="nord"] {
    pre.astro-code,
    pre.astro-code span {
      color: var(--shiki-nord) !important;
    }
  }
}

div[box-]:has(> .image-caption) {
  max-width: 48ch;
  max-height: 24lh;
  width: 100%;
  display: flex;
  flex-direction: column;
  --box-border-color: var(--background2);

  & .image-caption {
    display: flex;

    & figcaption {
      background-color: var(--background0);
      padding: 0 1ch;
    }
  }

  & img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
