---
import '@webtui/css';
import '@/styles/global.css';
import '@/styles/flexbox.css';
import '@/styles/spacing.css';
---

<!doctype html>
<html lang="en" data-theme="catppuccin-mocha">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@latest/build/jetbrainsmono-nfm.css"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@latest/build/jetbrainsmono-nfm.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>WebTUI</title>
  </head>
  <body>
    <slot />
  </body>
</html>
