---
import "@/styles/flexbox.css";
import "@/styles/spacing.css";
import "@/styles/global.css";
import "@webtui/css";
---

<!doctype html>
<html lang="en" data-theme="catppuccin-mocha">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/gh/mshaugh/nerdfont-webfonts@v3.3.0/build/jetbrainsmono.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>WebTUI</title>
  </head>
  <body>
    <slot />
  </body>
</html>
