@layer base {
  :root {
    --font-family: "JetBrainsMono NFP", Monaco, monospace !important;
  }
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
