<style>
  @layer base, utils, components;

  @import "@webtui/css/base.css";

  /* Utils */
  @import "@webtui/css/utils/box.css";

  /* Components */
  @import "@webtui/css/components/button.css";
  @import "@webtui/css/components/input.css";
  @import "@webtui/css/components/typography.css";

  /* Theme */
  @import "@webtui/theme-catppuccin";
</style>

<h1>Hello World</h1>
<h2>Hi world</h2>
<h3>Hi</h3>

<button>Normal button</button>

<button box-="square">Square button</button>

<div box-="square">
  <h1>Hi mom</h1>
  <h2>I'm in a box</h2>
</div>
