<style>
    @layer base, utils, components;

    @import "@webtui/css/base.css";

    /* Utils */
    @import "@webtui/css/utils/box.css";
    @import "@webtui/css/components/button.css";

    @import "../styles/flexbox.css";
    @import "../styles/spacing.css";

    body,
    html {
        background: grey;
    }

    button {
        --button-primary: black;
        --button-secondary: #00ff00;
    }
</style>

<div flex-="row gap:1 wrap">
    <button box-="square">Boxed</button>
    <button box-="square" disabled="">Boxed</button>
    <button>Normal</button>
    <button disabled="">Normal</button>
</div>
