@layer utils {
  [flex-] {
    display: flex;

    &[flex-~="row"] {
      flex-direction: row;
    }

    &[flex-~="col"] {
      flex-direction: column;
    }

    &[flex-~="align:center"] {
      align-items: center;
    }

    &[flex-~="align:start"] {
      align-items: flex-start;
    }

    &[flex-~="align:end"] {
      align-items: flex-end;
    }

    &[flex-~="justify:center"] {
      justify-content: center;
    }

    &[flex-~="justify:start"] {
      justify-content: flex-start;
    }

    &[flex-~="justify:end"] {
      justify-content: flex-end;
    }

    &[flex-~="justify:between"] {
      justify-content: space-between;
    }

    &[flex-~="justify:around"] {
      justify-content: space-around;
    }

    &[flex-~="justify:evenly"] {
      justify-content: space-evenly;
    }

    &[flex-~="center"] {
      align-items: center;
      justify-content: center;
    }

    &[flex-~="grow"] {
      flex-grow: 1;
    }

    &[flex-~="\!grow"] {
      flex-grow: 0;
    }

    &[flex-~="\!basis"] {
      flex-basis: 0;
    }

    &[flex-~="gap:1"] {
      column-gap: 1ch;
      row-gap: 1lh;
    }

    &[flex-~="gap:2"] {
      column-gap: 2ch;
      row-gap: 2lh;
    }

    &[flex-~="gap:4"] {
      column-gap: 4ch;
      row-gap: 4lh;
    }
  }
}
