---
import Layout from '@/layouts/Layout.astro';
import Login from './Login.astro';
import Signup from './Signup.astro';
import TwoFa from './TwoFa.astro';
import Navbar from '@/components/Navbar.astro';

const asciiArt = ` ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣧⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣦⣿⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⡄⠀⠀⠀⢠⢰⣷⣀⢸⣿⣿⣦⠀⣿⡇⡄⢠⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣄⣤⡧⠀⠀⠀⠈⢸⣿⣿⢸⣿⣿⡏⠀⣿⡀⣿⢸⣿⢠⡄⠀⠀⠀⠀⠀⠀⠀⠀
⣶⣶⣶⣶⣤⣤⣴⣶⣶⣾⣿⣷⣮⣿⣯⣥⣀⣟⡀⠘⠸⠛⠈⠂⣀⣓⣂⣀⣀⣀⣀⠀
⠉⠉⠙⠛⠛⠻⠿⠿⠿⢿⡿⢛⣿⣿⣿⡿⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠉⠉⠉⠉`;
---

<Layout>
  <Navbar />
  <row self-="grow" id="container">
    <column 
      self-="grow !basis"
      align-="center" 
      gap-="1"
      box-="square" 
      id="left-panel"
    >
      <span><strong>Some SaaS</strong></span>
      <pre>{asciiArt}</pre>
      <p>nExT gEnErAtIoN pRoDuCtIvItY pOwErEd By Ai</p>
    </column>
    <column 
      self-="grow !basis" 
      align-="center" 
      box-="square" 
      id="right-panel"
      data-active="login-contents"
    >
      <Login />
      <Signup />
      <TwoFa />
    </column>
  </row>
</Layout>

<style is:global>
#container {
  #left-panel {
    --box-border-color: var(--background1);

    pre {
      color: var(--foreground1);
    }

    p {
      color: var(--foreground0);
    }
  }
}

#right-panel {
  --box-border-color: var(--background2);

  & > column {
    display: none;
  }

  #login-contents, #signup-contents {
    width: 32ch;

    input {
      background: var(--background0);
    }
  }

  &[data-active="login-contents"] #login-contents { display: flex; }
  &[data-active="signup-contents"] #signup-contents { display: flex; }
  &[data-active="twofa-contents"] #twofa-contents { display: flex; }
}


.social-providers button {
  flex-grow: 1;
  flex-basis: 0;
  white-space: nowrap;
  --box-border-color: var(--background2);

  &:focus {
    --box-border-color: var(--foreground2);
  }
}

label:has([is-~="badge"]) {
  --box-border-color: var(--background2);

  &:focus-within {
    --box-border-color: var(--foreground2);
  }

  span {
    --badge-text: var(--foreground2);
  }
}

@media (max-width: 90ch) {
  #left-panel {
    display: none;
  }
}
</style>

<script>
  const loginButton = document.getElementById("login-button") as HTMLButtonElement;
  const signupButton = document.getElementById("signup-button") as HTMLButtonElement;
  const signupLink = document.getElementById("signup-link") as HTMLAnchorElement;
  const loginLink = document.getElementById("login-link") as HTMLAnchorElement;

  const rightPanel: HTMLElement = document.getElementById("right-panel")!;

  loginButton.onclick = () => rightPanel.setAttribute("data-active", "twofa-contents");
  signupButton.onclick = (e) => {
    e.preventDefault();
    alert("Signup complete [placeholder]");
  }
  signupLink.onclick = () => rightPanel.setAttribute("data-active", "signup-contents");
  loginLink.onclick = () => rightPanel.setAttribute("data-active", "login-contents");

  const loginSocialProviders = document.querySelectorAll("#login-contents .social-providers button") as NodeListOf<HTMLButtonElement>;
  const signupSocialProviders = document.querySelectorAll("#signup-contents .social-providers button") as NodeListOf<HTMLButtonElement>;

  for (const provider of loginSocialProviders) {
    provider.onclick = (e) => {
      e.preventDefault();
      alert("Social login not implemented for this example");
      rightPanel.setAttribute("data-active", "twofa-contents");
    }
  }

  for (const provider of signupSocialProviders) {
    provider.onclick = (e) => {
      e.preventDefault();
      alert("Social login not implemented for this example");
    }
  }
</script>
