<column gap-="1" id="login-contents">
  <column>
    <label box-="round" shear-="top">
      <row><span is-="badge" variant-="background0">Username / Email</span></row>
      <input autofocus />
    </label>
    <label box-="round" shear-="top">
      <row><span is-="badge" variant-="background0">Password</span></row>
      <input type="password" />
    </label>
  </column>
  <button variant-="foreground1" id="login-button">Log In</button>
  <column>
    <row class="social-providers">
      <button box-="round">&#xe7f0;</button>
      <button box-="round">&#xe709;</button>
      <button box-="round">&#xe8c9;</button>
      <button box-="round">&#xf36f;</button>
    </row>
  </column>
  <p>Need an account? <a href="#" id="signup-link">Sign Up</a></p>
</column> 
