@layer base {
  :root {
    --background0: white;
    --background1: #ddd;
    --background2: #bbb;
    --background3: #999;

    --foreground0: black;
    --foreground1: #444;
    --foreground2: #888;

    --font-size: 16px;
    --line-height: 1;

    --font-weight-bold: 700;
    --font-weight-normal: 400;
  }

  body,
  html {
    background-color: var(--background0);
    color: var(--foreground0);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height, 1.5);
    font-variant-ligatures: common-ligatures;
  }

  [contenteditable] {
    outline: none;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
