@layer base {
  /* base color for all themes' variants */
  :root {
    --ef-red: #f85552;
    --ef-orange: #f57d26;
    --ef-yellow: #dfa000;
    --ef-green: #8da101;
    --ef-aqua: #35a77c;
    --ef-blue: #3a94c5;
    --ef-purple: #df69ba;
  }

  /* Base Dark Theme */
  [data-webtui-theme|="everforest-dark"] {
    /* Background colors */
    --bg1: #2d353b;
    --bg2: #343f44;
    --bg3: #3d484d;
    --bg4: #475258;
    --bg5: #4f585e;

    /* Foreground colors */
    --fg: #d3c6aa;
    --fg-dim: #9da9a0;

    --red: #e67e80;
    --orange: #e69875;
    --yellow: #dbbc7f;
    --green: #a7c080;
    --aqua: #83c092;
    --blue: #7fbbb3;
    --purple: #d699b6;

    /* Status colors */
    --statusline1: #a7c080;
    --statusline2: #d3c6aa;
    --statusline3: #e67e80;

    /* Gray tones */
    --gray0: #7a8478;
    --gray1: #859289;
    --gray2: #9da9a0;

    /* Semantic variables colors */
    --background1: var(--bg2);
    --background2: var(--bg3);
    --background3: var(--bg4);
    --foreground0: var(--fg);
    --foreground1: var(--fg);
    --foreground2: var(--dim);
  }

  /* Dark Hard Variant */
  [data-webtui-theme="everforest-dark-hard"] {
    --bg0: #272e33;
    --background0: var(--bg0);
    --background1: var(--bg4);
  }

  /* Dark Soft Variant */
  [data-webtui-theme="everforest-dark-soft"] {
    --bg0: #333c43;
    --background0: var(--bg0);
    --background1: var(--bg1);
  }

  /* Base Light Theme */
  [data-webtui-theme|="everforest-light"] {
    /* Background colors */
    --bg1: #f2efdf;
    --bg2: #edeada;
    --bg3: #e8e5d5;
    --bg4: #e0ded0;
    --bg5: #d8d6cc;

    /* Foreground colors */
    --fg: #5c6a72;
    --fg-dim: #939f91;

    --red: #f85552;
    --orange: #f57d26;
    --yellow: #dfa000;
    --green: #8da101;
    --aqua: #35a77c;
    --blue: #3a94c5;
    --purple: #df69ba;

    /* Status colors */
    --statusline1: #93b259;
    --statusline2: #708089;
    --statusline3: #e66868;

    /* Gray tones */
    --gray0: #a6b0a0;
    --gray1: #939f91;
    --gray2: #829181;

    /* Semantic variables */
    --background1: var(--bg1);
    --background2: var(--bg2);
    --background3: var(--bg3);
    --foreground0: var(--fg);
    --foreground1: var(--fg);
    --foreground2: var(--fg-dim);

    --red: var(--red);
    --orange: var(--orange);
    --yellow: var(--yellow);
    --green: var(--green);
    --aqua: var(--aqua);
    --blue: var(--blue);
    --purple: var(--purple);
  }

  /* Light Hard Variant */
  [data-webtui-theme="everforest-light-hard"] {
    --bg0: #fffbef;
    --bg1: #f0f2d4;
    --background0: var(--bg0);
  }

  /* Light Soft Variant */
  [data-webtui-theme="everforest-light-soft"] {
    --bg0: #f3ead3;
    --bg1: #e1e4bd;
    --background0: var(--bg0);
  }

  [data-webtui-theme|="everforest-dark"] {
    --red: var(--ef-red);
    --orange: var(--ef-orange);
    --yellow: var(--ef-yellow);
    --green: var(--ef-green);
    --aqua: var(--ef-aqua);
    --blue: var(--ef-blue);
    --purple: var(--ef-purple);
  }
}
