@layer components {
    [data-webtui-theme|='vitesse'] {
        button {
            &[variant-='red'] {
                --button-primary: var(--red);
                --button-secondary: var(--background0);
            }
            &[variant-='green'] {
                --button-primary: var(--green);
                --button-secondary: var(--background0);
            }
            &[variant-='yellow'] {
                --button-primary: var(--yellow);
                --button-secondary: var(--background0);
            }
            &[variant-='blue'] {
                --button-primary: var(--blue);
                --button-secondary: var(--background0);
            }
            &[variant-='purple'] {
                --button-primary: var(--purple);
                --button-secondary: var(--background0);
            }
            &[variant-='aqua'] {
                --button-primary: var(--aqua);
                --button-secondary: var(--background0);
            }
            &[variant-='orange'] {
                --button-primary: var(--orange);
                --button-secondary: var(--background0);
            }
        }
    }

    [data-webtui-theme|='vitesse-dark'] {
        button[variant-='gray'] {
            --button-primary: var(--gray);
            --button-secondary: var(--background0);
        }
    }

    [data-webtui-theme|='vitesse-light'] {
        button[variant-='gray'] {
            --button-primary: var(--gray);
            --button-secondary: var(--background0);
        }
    }
}
