@layer components {
    [data-webtui-theme|='vitesse'] {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--green);
        }

        p,
        blockquote,
        li,
        [is-~='typography-block'] {
            a {
                color: var(--blue);
                text-decoration: underline;

                &:hover {
                    color: var(--aqua);
                }
            }

            code {
                color: var(--orange);
            }
        }
    }
}
