@layer components {
    [data-webtui-theme='nord'] {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--nord14);
        }

        p,
        blockquote,
        li,
        [is-~='typography-block'] {
            a {
                color: var(--nord7);
                text-decoration: underline;

                &:hover {
                    color: var(--nord8);
                }
            }

            code {
                color: var(--nord12);
            }
        }
    }
}
