@layer components {
    details[is-~='accordion'] {
        &[open]::details-content {
            padding-left: 2ch;
        }

        & > summary {
            &::before {
                content: '˃ ';
            }

            &::-webkit-details-marker {
                display: none;
            }

            &::marker {
                content: '';
                display: none;
            }

            &:focus {
                text-decoration: underline;
            }
        }

        &[open] summary::before {
            content: '˅ ';
        }
    }
}
