@layer components {
  [is-~="badge"] {
    color: var(--badge-text);
    background-color: var(--badge-color);
    display: inline-flex;
    vertical-align: middle;
    white-space: nowrap;
    height: 1lh;
    line-height: 1lh;
    padding: 0 1ch;

    &[variant-="foreground0"],
    &:not([variant]) {
      --badge-color: var(--foreground0);
      --badge-text: var(--background0);
    }

    &[variant-="foreground1"] {
      --badge-color: var(--foreground1);
      --badge-text: var(--background0);
    }

    &[variant-="foreground2"] {
      --badge-color: var(--foreground2);
      --badge-text: var(--background0);
    }

    &[variant-="background0"] {
      --badge-color: var(--background0);
      --badge-text: var(--foreground0);
    }

    &[variant-="background1"] {
      --badge-color: var(--background1);
      --badge-text: var(--foreground0);
    }

    &[variant-="background2"] {
      --badge-color: var(--background2);
      --badge-text: var(--foreground0);
    }

    &[variant-="background3"] {
      --badge-color: var(--background3);
      --badge-text: var(--foreground0);
    }
  }
}
