@layer components {
  button,
  [is-~="button"] {
    color: var(--foreground0);
    background-color: var(--background0);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    border: none;
    padding: 1lh 2ch;
    height: 3lh;

    &[size-="tiny"] {
      height: 1lh;
      padding: 0 0;
    }

    &[size-="small"] {
      height: 1lh;
      padding: 0 1ch;
    }
  }
}
