@layer components {
  button,
  [is-~="button"] {
    --button-primary: var(--foreground0);
    --button-secondary: var(--background0);

    color: var(--button-secondary);
    background-color: var(--button-primary);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0 2ch;
    height: 3lh;
    outline: none;

    &[box-] {
      color: var(--button-primary);
      background-color: transparent;
      --box-border-color: var(--button-primary);
    }

    &:focus {
      font-weight: bold;
      text-decoration: underline;
    }

    &:active {
      color: var(--button-primary);
      background-color: var(--button-secondary);

      &[box-] {
        --box-border-color: var(--button-secondary);
        background-color: transparent;
      }
    }

    &:disabled {
      text-decoration: line-through;
      pointer-events: none;
    }

    &[size-="small"] {
      padding: 0 1ch;
      height: 1lh;
    }

    &[variant-="foreground0"],
    &:not([variant]) {
      --button-primary: var(--foreground0);
      --button-secondary: var(--background0);
    }

    &[variant-="foreground1"] {
      --button-primary: var(--foreground1);
      --button-secondary: var(--background0);
    }

    &[variant-="foreground2"] {
      --button-primary: var(--foreground2);
      --button-secondary: var(--background0);
    }

    &[variant-="background0"] {
      --button-primary: var(--background0);
      --button-secondary: var(--foreground0);
    }

    &[variant-="background1"] {
      --button-primary: var(--background1);
      --button-secondary: var(--foreground0);
    }

    &[variant-="background2"] {
      --button-primary: var(--background2);
      --button-secondary: var(--foreground0);
    }

    &[variant-="background3"] {
      --button-primary: var(--background3);
      --button-secondary: var(--foreground0);
    }
  }
}
