@layer components {
  details {
    summary {
      user-select: none;
      cursor: pointer;

      &::marker {
        content: "> ";
      }

      details[open] > &::marker {
        content: "∨ ";
      }
    }
  }
}
