@layer components {
  details {
    &[open] > summary::marker {
        content: "∨ ";
    }
    summary {
      user-select: none;
      cursor: pointer;

      &::marker {
        content: "> ";
      }
    }
  }
}
