@layer components {
  ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: none;

    li::before {
      color: var(--list-marker-color, inherit);
    }

    &:not([variant-]),
    &[variant-="default"] {
      li::before {
        content: "- ";
      }
    }

    &[variant-="check"] {
      li::before {
        content: "✓ ";
      }
    }

    &[variant-="circle"] {
      li::before {
        content: "● ";
      }
    }

    &[variant-="dot"] {
      li::before {
        content: "• ";
      }
    }

    &[variant-="fork"] {
      li::before {
        content: "├ ";
      }

      &[cap-="auto"]>li:first-of-type::before,
      &[cap-="top"]>li:first-of-type::before {
        content: "┌ ";
      }

      &[cap-="auto"]>li:last-of-type::before,
      &[cap-="bottom"]>li:last-of-type::before {
        content: "└ ";
      }
    }

    &[variant-="none"] {
      li::before {
        content: none;
      }
    }

    &>li[variant-="check"]::before {
      content: "✓ " !important;
    }

    &>li[variant-="circle"]::before {
      content: "● " !important;
    }

    &>li[variant-="dot"]::before {
      content: "• " !important;
    }

    &>li[variant-="fork"]::before {
      content: "├ " !important;
    }

    &>li:first-of-type[variant-="fork"]::before {
      content: "┌ " !important;
    }

    &>li:last-of-type[variant-="fork"]::before {
      content: "└ " !important;
    }

    &>li[variant-="none"]::before {
      content: none !important;
    }
  }
}
