@layer components {
  @property --list-marker-color {
    syntax: "<color>";
    inherits: false;
    initial-value: var(--foreground0);
  }

  ol {
    list-style-position: inside;
  }

  ul, [is-="list"] {
    list-style-type: none;

    li::before {
      color: var(--list-marker-color, inherit);
    }

    li > ul {
      margin-left: 2ch;
    }

    &:not([marker-]),
    &[marker-="default"] {
      li::before {
        content: "- ";
      }
    }

    &[marker-="bullet"] {
      li::before {
        content: "• ";
      }
    }

    &[marker-="tree"] {
      li::before {
        content: "├ ";
      }

      &[cap-="both"] > li:first-of-type::before,
      &[cap-="start"] > li:first-of-type::before {
        content: "┌ ";
      }

      &[cap-="both"] > li:last-of-type::before,
      &[cap-="end"] > li:last-of-type::before {
        content: "└ ";
      }
    }

    &[marker-="none"] {
      li::before {
        content: none;
      }
    }

    & li[marker-="bullet"]::before {
      content: "• " !important;
    }
    & li[marker-="tree"]::before {
      content: "├ " !important;
    }
    & li:first-of-type[marker-="tree-start"]::before {
      content: "┌ " !important;
    }
    & li:last-of-type[marker-="tree-end"]::before {
      content: "└ " !important;
    }
    & li[marker-="none"]::before {
      content: none !important;
    }
  }
}
