@layer components {
    @property --table-border-width {
        syntax: '<length>';
        inherits: true;
        initial-value: 2px;
    }

    table {
        --table-border-color: var(--box-border-color);

        border: none;
        outline: none;
        font-family: var(--font-family);
        font-size: var(--font-size);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height);
        text-align: left;
        position: relative;
        border-spacing: 0 0;
        padding-top: 1lh;
        padding-left: 1ch;

        &::before {
            content: '';
            position: absolute;
            top: calc(0.5lh - (var(--table-border-width) / 2));
            left: calc(0.5ch - (var(--table-border-width) / 2));
            width: calc(100% - 1ch);
            height: calc(100% - 1lh);
            border-top: solid var(--table-border-width)
                var(--table-border-color);
            border-left: solid var(--table-border-width)
                var(--table-border-color);
        }

        tr {
            th {
                font-weight: var(--font-weight-bold);
            }

            & > *:is(th, td) {
                position: relative;
                padding-right: 1ch;
                padding-bottom: 1lh;

                &::before {
                    content: '';
                    position: absolute;
                    right: calc(0.5ch - var(--table-border-width) / 2);
                    bottom: calc(0.5lh - var(--table-border-width) / 2);
                    border-left: solid var(--table-border-width)
                        var(--table-border-color);
                    height: 100%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: calc(-0.5ch);
                    bottom: calc(0.5lh - var(--table-border-width) / 2);
                    width: 100%;
                    border-top: solid var(--table-border-width)
                        var(--table-border-color);
                }
            }
        }

        thead + tbody tr,
        tbody + tfoot tr {
            &:first-of-type td,
            &:first-of-type th {
                padding-top: 0;
            }
        }

        &[variant-='foreground0'] {
            --table-border-color: var(--foreground0);
        }
        &[variant-='foreground1'] {
            --table-border-color: var(--foreground1);
        }
        &[variant-='foreground2'] {
            --table-border-color: var(--foreground2);
        }
        &[variant-='background0'] {
            --table-border-color: var(--background0);
        }
        &[variant-='background1'] {
            --table-border-color: var(--background1);
        }
        &[variant-='background2'] {
            --table-border-color: var(--background2);
        }
        &[variant-='background3'] {
            --table-border-color: var(--background3);
        }
    }
}
