---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Email from "@/components/examples/Email.astro";
import Tabs from "@/components/ui/Tabs.astro";
import Dropdown from "@/components/ui/Dropdown.astro";

const themes = {
  "catppuccin-mocha": "Catppuccin Mocha",
  "catppuccin-macchiato": "Catppuccin Macchiato",
  "catppuccin-frappe": "Catppuccin Frappe",
  "catppuccin-latte": "Catppuccin Latte",
  dark: "Dark",
  light: "Light",
  "gruvbox-dark-hard": "Gruvbox Dark Hard",
  "gruvbox-dark-medium": "Gruvbox Dark Medium",
  "gruvbox-dark-soft": "Gruvbox Dark Soft",
  "gruvbox-light-hard": "Gruvbox Light Hard",
  "gruvbox-light-medium": "Gruvbox Light Medium",
  "gruvbox-light-soft": "Gruvbox Light Soft",
  "everforest-dark-hard": "Everforest Dark Hard",
  "everforest-dark-medium": "Everforest Dark Medium",
  "everforest-dark-soft": "Everforest Dark Soft",
  "everforest-light-hard": "Everforest Light Hard",
  "everforest-light-medium": "Everforest Light Medium",
  "everforest-light-soft": "Everforest Light Soft",
  nord: "Nord",
};
---

<Layout>
  <!-- Stupid workaround because I can't figure out how to make popover contents appear above box- elements that appear after it -->
  <column style="flex-direction: column-reverse;">
    <div id="tab-contents">
      <div data-tab="email" class="active"><Email /></div>
      <div data-tab="auth">[Auth example coming soon]</div>
      <div data-tab="ecommerce">[Ecommerce example Coming Soon]</div>
      <div data-tab="ai">[AI Chat example Coming Soon]</div>
      <div data-tab="all">[All Components example Coming Soon]</div>
    </div>

    <column box-="square contain:!top">
      <row><span is-="badge" variant-="background0">Settings</span></row>
      <row class="wrap" gap-="1" space-="px:1" align-="center between">
        <Tabs id="tabslist">
          <button data-value="email" size-="small" variant-="default">
            Email
          </button>
          <button data-value="auth" size-="small" variant-="background1">
            Auth
          </button>
          <button data-value="ecommerce" size-="small" variant-="background1">
            Ecommerce
          </button>
          <button data-value="ai" size-="small" variant-="background1">
            AI Chat
          </button>
          <button data-value="all" size-="small" variant-="background1">
            All Components
          </button>
        </Tabs>
        <row style="position: relative; z-index: 10; isolation: isolate;">
          <Dropdown
            label="Select Theme ï¸"
            items={themes}
            id="theme-dropdown"
            position="bottom baseline-right"
          />
        </row>
      </row>
    </column>

    <Navbar />
  </column>
</Layout>

<style>
  #tab-contents {
    [data-tab] {
      display: none;
      flex-grow: 1;

      &.active {
        display: flex;
      }
    }
  }

  .wrap {
    flex-wrap: wrap;
  }
</style>

<!-- Tab Switcher -->
<script>
  const tabslist = document.getElementById("tabslist")!;
  const tabContents = document.querySelectorAll("#tab-contents [data-tab]");

  new MutationObserver(() => {
    const value = tabslist.getAttribute("data-tab");

    tabContents.forEach((tab) => {
      if (tab.getAttribute("data-tab") === value) {
        tab.classList.add("active");
      } else {
        tab.classList.remove("active");
      }
    });
  }).observe(tabslist, {
    attributes: true,
    attributeFilter: ["data-tab"],
  });
</script>

<!-- Theme Switcher -->
<script>
  const themeDropdown = document.querySelector(
    "#theme-dropdown",
  ) as HTMLElement;
  const html = document.querySelector("html")! as HTMLElement;

  new MutationObserver(() => {
    const value = themeDropdown.getAttribute("data-value") as string;

    html.setAttribute("data-webtui-theme", value);
  }).observe(themeDropdown, {
    attributes: true,
    attributeFilter: ["data-value"],
  });
</script>
