---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/landing/Intro.astro';
---

<Layout>
  <main>
    <header>
      <Intro />
    </header>
    <section>
      <h1>hi</h1>
    </section>
  </main>
</Layout>

<style is:global>
  @layer base {
    :root {
      --font-size: 24px;
    }

    @media (max-width: 100ch) {
      :root {
        --font-size: 20px;
      }
    }
  }

  main {
    height: 100vh;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground1) var(--background2);
  }

  section, header {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: var(--crust);
  }
</style>
