---
import Layout from '../layouts/Layout.astro';
import '@webtui/theme-catppuccin';

const headerText = `
██   ██  ██████  █████   ██████  ██  ██  ██████
██   ██  ██      ██  ██    ██    ██  ██    ██
██ █ ██  ████    █████     ██    ██  ██    ██
███████  ██      ██  ██    ██    ██  ██    ██ 
 ██ ██   ██████  █████     ██     ████   ██████`;
---

<Layout>
  <main flex-="grow col">
    <div box-="square contain" flex-="center col gap:1" id="main-box">
      <pre>{headerText}</pre>
      <div flex-="col gap:1">
        <p>Modular CSS Library for building Beautiful Terminal-like UIs</p>
        <ul>
          <li><a href="/docs">View Docs</a></li>
          <li>More coming soon</li>
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  #main-box {
    padding: 2lh 4ch;
    --box-border-color: var(--overlay0);
  }

  pre {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height, 1.5);
    font-variant-ligatures: common-ligatures;
    color: var(--blue);
    background-color: var(--background1);
    padding: 1lh 1ch;
    overflow-x: auto;
  }
</style>
