---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/landing/Intro.astro';
import VimNavigation from '@/components/landing/VimNavigation.astro';
---

<Layout>
  <main>
    <header id="intro">
      <Intro />
    </header>
    <section id="features">
      <h1>modular</h1>
    </section>
    <section>
      <h1>pure css</h1>
    </section>
    <section>
      <h1>semantic approach</h1>
    </section>
    <section id="themes">
      <h1>themes</h1>
    </section>
    <section id="sponsors">
      <h1>sponsors</h1>
    </section>
    <section>
      <column self-="grow">
        <h1>final cta</h1>
      </column>
      <footer>
        foot
      </footer>
    </section>
  </main>
  <VimNavigation />
</Layout>

<style is:global>
  @layer base {
    :root {
      --font-size: 20px;
    }

    @media (max-width: 100ch) {
      :root {
        --font-size: 18px;
      }
    }
  }

  main {
    height: 100vh;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground1) var(--background2);
  }

  section, header {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: var(--crust);
  }
</style>
