---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Intro from '@/components/landing/Intro.astro';
---

<Layout>
  <main>
    <header>
      <Intro />
    </header>
    <section>
      <h1>hi</h1>
    </section>
  </main>
</Layout>

<style is:global>
  @layer base {
    :root {
      --font-size: 24px;
    }

    @media (max-width: 100ch) {
      :root {
        --font-size: 20px;
      }
    }
  }

  main {
    height: 100vh;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @supports selector(::-webkit-scrollbar) {
    main {
      &::-webkit-scrollbar {
          width: 1ch;
      }
      
      &::-webkit-scrollbar-track {
        background: linear-gradient(
          to right,
          transparent,
          transparent calc(0.5ch - 1px),
          var(--background2) calc(0.5ch - 1px),
          var(--background2) calc(0.5ch + 1px),
          transparent calc(0.5ch + 1px),
          transparent
        );
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--background3);
        border-radius: 0;
      }
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    main {
      scrollbar-width: thin;
      scrollbar-color: var(--foreground1) var(--background2);
      scrollbar-gutter: stable both-edges;
    }
  }

  section, header {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: var(--crust);
  }
</style>
