<column align-="center" gap-="1">
  <row box-="square" shear-="both" align-="center" id="header">
    <row><strong>terminal</strong></row>
    <div is-="separator" direction-="vertical" />
    <row gap-="1">
      <span>s</span>
      <span class="secondary">shop</span>
    </row>
    <div is-="separator" direction-="vertical" />
    <row gap-="1">
      <span>a</span>
      <span class="secondary">account</span>
    </row>
    <div is-="separator" direction-="vertical" />
    <row gap-="1">
      <span>c</span>
      <span class="secondary">cart</span>
      <span>$ 0</span>
      <span class="secondary">[0]</span>
    </row>
  </row>
</column>
