<column id="footer" align-="center">
  <span class="secondary">Free shipping on US orders over $40</span> 
  <div is-="separator" direction-="horizontal" />
  <row gap-="2">
    <span>r 🇺 <span class="secondary">(US)</span></span>
    <span>↑/↓ <span class="secondary">products</span></span>
    <span>+/- <span class="secondary">qty</span></span>
    <span>c <span class="secondary">cart</span></span>
    <span>q <span class="secondary">quit</span></span>
  </row>
</column>
