@layer utils {
    row,
    column,
    [is-~='row'],
    [is-~='column'] {
        display: flex;

        &[is-='column'],
        &:is(column) {
            flex-direction: column;
        }

        /* gap- */
        &[gap-='1'] {
            gap: 1lh 1ch;
        }
        &[gap-='2'] {
            gap: 2lh 2ch;
        }

        /* self- */
        &[self-~='grow'] {
            flex-grow: 1;
        }
        &[self-~='nogrow'] {
            flex-grow: 0;
        }
        &[self-~='shrink'] {
            flex-shrink: 1;
        }
        &[self-~='noshrink'] {
            flex-shrink: 0;
        }
        &[self-~='nobasis'] {
            flex-basis: 0;
        }

        /* align- (align) */
        &[align-^='start'] {
            align-items: flex-start;
        }
        &[align-^='end'] {
            align-items: flex-end;
        }
        &[align-^='center'] {
            align-items: center;
        }
        &[align-^='stretch'] {
            align-items: stretch;
        }

        /* align- (justify) */
        &[align-$='between'] {
            justify-content: space-between;
        }
        &[align-$='start'] {
            justify-content: flex-start;
        }
        &[align-$='end'] {
            justify-content: flex-end;
        }
        &[align-$='center'] {
            justify-content: center;
        }
    }
}
