---
import Tabs from './examples/Tabs.astro';

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<column id={`example-${id}`}>
  <row align-="between">
    <Tabs id={`example-tabs-${id}`}>
      <button data-value="example">Example</button>
      <button data-value="code">Code</button>
    </Tabs>
    <details is-="dropdown">
      <summary>Dark</summary>
      <ul>
        <li>Light</li>
        <li>Nord</li>
        <li>Catppuccin</li>
      </ul>
    </details>
  </row>
  <slot />
</column>

<script></script>
